<!-- The example from the README -->
<div class="
    {# fmt:off #}
      ,-._|\
     /     .\
     \_,--._/
    {# fmt:on #}
           "/>


<!-- Basic everyday Django template -->
{% load static %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Welcome, {{ request.user }}</h1>
    {% else %}
        <a href="{% url 'login' %}">Click here to login</a>
    {% endif %}
{% endblock %}


<!-- Django tags within <style> -->
<style>
    a {
        {% block color %}
            color: red;
        {% endblock %}
    }
</style>


<!-- Django tags within <script> -->
<script>
    $(function() {
        {% if verbose %}
            console.log("Hi mom!");
        {% endif %}
    });
</script>


<!-- Multiline comment -->
{% comment %}
      ,-._|\
     /     .\
     \_,--._/
{% endcomment %}


<!-- Verbatim block -->
{% verbatim %}
      ,-._|\
     /     .\
     \_,--._/
{% endverbatim %}


<!-- Multiline comment with optional comment -->
{% comment "Yo dawg" %}
            I heard you like comments
{% endcomment %}


<!-- Various spacings -->
{%comment    %}
             %}
{%    endcomment%}
{%if%}
    {%block content    %}
        Yuck!
    {%    endblock%}
{%    endif    %}


<!-- Inconsistent nesting -->
{% block %}
    1
    {% with %}
        2
    {% endblock %}
    1
{% endwith %}


<!-- Tags that both dedent and indent -->
{% blocktrans count count=queryset.count %}
    There is 1 item.
{% plural %}
    There are {{ count }} items.
{% endblocktrans %}


<!-- None of this should be indented -->
{% if %}
{% elif %}
{% else %}
{% endif %}
{% for %}
{% empty %}
{% endfor %}


<!-- Template tag directly following tag name -->
<a{% if %} class=""{% endif %}>
    Click here!
</a>


<!-- Ambiguous video tag from django-embed-video -->
{% video form.instance.video as my_video %}
    {% video my_video '360 x 200' %}
{% endvideo %}


<!-- Match the tag, the whole tag, and nothing but the tag -->
{% component_block "instruction" border_top=True header="Login" %}
    {% slot "body" %}
        {% with "login --token="|add:token as content %}
            {% component "copy_field" field_selector="token-field" content=content %}
        {% endwith %}
    {% endslot %}
{% endcomponent_block %}


<!-- Don't indent template variables -->
{{ '<b>' if condition }}
some text
{{ '</b>' if condition }}
more text


<!-- Unless they span multiple lines -->
{{ '<b>'
    if condition }}
    some text
    {{ '</b>
if condition }}
more text


<!-- The example from issue #78 -->
{% block main %}
    <section>
        <div>
            <div>
                {% placeholder "placeholder1" %}
            </div>
            <div>
                {% placeholder "placeholder2" or %}
                    <img src="" alt="" />
                {% endplaceholder %}
            </div>
        </div>
    </section>
    <section>
        <div>
            {% placeholder "placeholder3" %}
        </div>
    </section>
    <section>
        <div>
            {% placeholder "placeholder4" %}
        </div>
    </section>
{% endblock %}


<!-- Slippers components (https://github.com/rtts/djhtml/issues/86) -->
{% #quote %}
    {% quote_photo src="/project-hail-mary.jpg" %}

    {% #quote_text %}
        “I penetrated the outer cell membrane with a nanosyringe."
        "You poked it with a stick?"
        "No!" I said. "Well. Yes. But it was a scientific poke
        with a very scientific stick.”
    {% /quote_text %}

    {% #quote_attribution %}
        Andy Weir, Project Hail Mary
    {% /quote_attribution %}

    {% #quote_text %}
        This component is intentionally repeated.
    {% /quote_text %}
{% /quote %}


<!-- Custom tag with end_ from issue #100 -->
{% custom_tag %}
    <div></div>
{% end_custom_tag %}

<!-- Custom tag -->
{% customtag %}
    <div></div>
{% endcustomtag %}

<!-- Custom tag with custom end tag -->
{% weird_tag %}
    <div></div>
{% endweird %}
