<!-- Multiline comment -->
{#
      ,-._|\
     /     .\
     \_,--._/
#}


<!-- Raw block -->
{% raw %}
      ,-._|\
     /     .\
     \_,--._/
{% endraw %}


<!-- Whitespace control -->
<div>
    {%+ if something %}
        yay
    {% endif %}
</div>

<div>
    {% if something +%}
        yay
    {% endif %}
</div>

{% for item in seq -%}
    {{ item }}
{%- endfor %}

{%- macro render_currency(currency, amount) -%}
    {{ amount }}
{%- endmacro -%}


<!-- Set assignment -->
<div>
    {% set "five" = 5 %}
    Five is {{ five }}
    {% set blockdata %}
        Contents
    {% endset %}
    Contents of block is block
</div>


<!-- Don't support multiline if statements (for now) -->
{% if ( condition1 and
condition2 ) %}
text
{% endif %}
